body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #121417;
  font-size: 16px;
  margin: 0 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
}
.wrapper{
  background: #2C3E50;
  padding: 1.25rem;
  border-radius: 0.625rem;
  width: 400px;
}

.btn-rating {
  background-color: #D35400;
  transition: all 0.15s ease-in-out;
}
.btn-rating:hover {
  background-color: #ffffff;
  color: #D35400;
}
.btn-number{
  background-color: #1b1e22;
  height: 50px;
  width: 50px;
}
.btn-number:hover, .btn-number-active {
  background-color: #D35400;
}
.p-rating {
  color: #D35400;
}